main{
    background-color: var(--crema);
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

.filter-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.filter-container article{
    margin: 1.5rem;
}

.filter-container article p{
    color: var(--rojo);
    font-weight: bolder;
}

.filter-container article button {
    background-color: var(--gris);
    color: var(--blanco);
    padding: 0.8rem;
    border-radius: 15px;
}

.filter-container article button:hover{
    background-color: var(--blanco);
    color: var(--rojo);
    cursor: pointer;
    
}

.card-container{
    background-color: var(--crema);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--gris);
    background-color: var(--blanco); 
    color: var(--gris);
}

select:hover {
    border-color: var(--bordo); 
}

select:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(153, 1, 0, 0.5);
}


@media only screen and (max-width: 600px) {
    .filter-container{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .filter-container article{
        width: 35%;
    }

    .filter-container article button {
        width: 30%;
        font-size: 0.8rem;
        padding: 0.8rem 0;
    }

    .reset-filters{
        min-width: fit-content;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .filter-container{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
