footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 1rem;
  }
  
  footer button {
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid var(--gris);
    border-radius: 5px;
    background-color: var(--blanco);
    color: var(--gris);
    cursor: pointer;
  }
  
  footer button:hover {
    background-color: var(--crema);
    color: var(--bordo);
  }
  
  footer button:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  
  footer button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .current-page {
    background-color: var(--bordo);
    color: var(--blanco);
  }


@media only screen and (max-width: 600px) {
  footer button{
    min-width: 10%;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  footer button{
    min-width: 10%;
    font-size: 1.5rem;
  }
}